<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI"
                 path="*"
                 verb="*"
                 modules="FastCgiModule"
                 scriptProcessor="C:\inetpub\wwwroot\ProgressNoteWeb\ProgressReport2\venv\Scripts\python.exe|C:\inetpub\wwwroot\ProgressNoteWeb\ProgressReport2\venv\Lib\site-packages\wfastcgi.py"
                 resourceType="Unspecified"
                 requireAccess="Script" />
        </handlers>
        </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\ProgressNoteWeb\ProgressReport2" />
        <add key="WSGI_LOG" value="C:\inetpub\wwwroot\ProgressNoteWeb\ProgressReport2\wfastcgi.log" />
        <add key="FLASK_ENV" value="production" />
        </appSettings>
</configuration>