<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" 
                 scriptProcessor="C:\inetpub\wwwroot\ProgressNoteWeb\ProgressReport2\venv\Scripts\python.exe|C:\inetpub\wwwroot\ProgressNoteWeb\ProgressReport2\venv\Lib\site-packages\wfastcgi.py" 
                 resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\inetpub\wwwroot\ProgressNoteWeb\ProgressReport2\venv\Scripts\python.exe" 
                         arguments="C:\inetpub\wwwroot\ProgressNoteWeb\ProgressReport2\venv\Lib\site-packages\wfastcgi.py">
                <environmentVariables>
                    <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\ProgressNoteWeb\ProgressReport2" />
                    <environmentVariable name="WSGI_HANDLER" value="app.app" />
                    <environmentVariable name="WSGI_LOG" value="C:\inetpub\wwwroot\ProgressNoteWeb\ProgressReport2\logs\wsgi.log" />
                </environmentVariables>
            </application>
        </fastCgi>
        <rewrite>
            <rules>
                <rule name="Static Files" stopProcessing="true">
                    <match url="^/static/(.*)$" ignoreCase="true" />
                    <action type="Rewrite" url="static/{R:1}" />
                </rule>
                <rule name="Configure Python" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 